AdalsVikings/AdalsVikings.opensdf
AdalsVikings/AdalsVikings.sdf
AdalsVikings/AdalsVikings.v12.suo
AdalsVikings/AdalsVikings.sln
AdalsVikings/Debug/AdalsVikings.exe
AdalsVikings/Debug/AdalsVikings.ilk
AdalsVikings/Debug/AdalsVikings.pdb
AdalsVikings/Debug/sfml-audio-d-2.dll
AdalsVikings/Debug/sfml-graphics-d-2.dll
AdalsVikings/Debug/sfml-network-d-2.dll
AdalsVikings/Debug/sfml-system-d-2.dll
AdalsVikings/Debug/sfml-window-d-2.dll
AdalsVikings/AdalsVikings/Debug/AdalsVikings.tlog
AdalsVikings/AdalsVikings/Debug