*.log
*.obj
*.exe
*.ilk
AdalsVikings/AdalsVikings/Debug/vc120.pdb
AdalsVikings/AdalsVikings/Debug/vc120.idb
AdalsVikings/AdalsVikings.opensdf
AdalsVikings/AdalsVikings/Debug/AdalsVikings.Build.CppClean.log
AdalsVikings/AdalsVikings/Debug/AdalsVikings.Build.CppClean.log
AdalsVikings/AdalsVikings/Debug/AdalsVikings.log
AdalsVikings/AdalsVikings/Debug/Game.obj
AdalsVikings/AdalsVikings/Debug/Level.obj
AdalsVikings/AdalsVikings/Debug/LevelManager.obj
AdalsVikings/AdalsVikings/Debug/main.obj
AdalsVikings/AdalsVikings/Debug/Object.obj
AdalsVikings/AdalsVikings/Debug/ResourceManager.obj
AdalsVikings/AdalsVikings/Debug/TestLevel.obj
AdalsVikings/Debug/AdalsVikings.exe
AdalsVikings/Debug/AdalsVikings.ilk
*.tlog
*.dll
AdalsVikings/AdalsVikings.sdf
AdalsVikings/AdalsVikings.v12.suo
AdalsVikings/AdalsVikings.sdf
AdalsVikings/Debug/AdalsVikings.pdb